#title_bar
  #title= title

#tool_bar
  %em
    editing:
  %form{id: 'change_name_form' }
    name
    %input{type: 'text',   name: 'name'}
    %input{type: 'submit', value: 'update'}
    %div#colorpicker
      %div{style:"background-color: #0000ff"}
  %ul#user_list

= partial('node', [{text:" _", id: "protonode", rel:''}])
#nodes.fullscreen
  %canvas#canvas.fullscreen


  
%form{id: 'create_bubble_form' ,style: 'position:fixed;top:0px;right:0px;z-index:9999'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'create bubble'}