#title_bar
  #title= title
  some bla bal

#tool_bar
  .button
    tool1
  .button tool2
  .button tool3

= partial('node', [{text:" _", id: "protonode", rel:''}])
#nodes.fullscreen
  %canvas#canvas.fullscreen


%form{id: 'change_name_form' ,style: 'position:fixed;bottom:0px;right:0px;z-index:9999'}
  %input{type: 'text',   name: 'name'}
  %input{type: 'hidden', name: 'color'}
  %input{type: 'submit', value: 'change name'}
  %div#colorpicker
    %div{style:"background-color: #0000ff"}
       .
  
%form{id: 'create_bubble_form' ,style: 'position:fixed;bottom:0px;left:0px;z-index:9999'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'create bubble'}
