%html
  %head
    %title= title
    %link{rel:'stylesheet', href:'/css/style.css'}
    %link{rel:'stylesheet', href:'/css/colorpicker.css'}
    %script{type:'text/javascript', src:'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{type:'text/javascript', src:'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'}
    %script{type:'text/javascript', src:'/js/lib/socket.io.js'}
    %script{type:'text/javascript', src:'/js/lib/colorpicker.js'}
    %script{type:'text/javascript', src:'/js/joint.js'}
    %script{type:'text/javascript', src:'/js/node2.js'}
  %body= body