#title_bar
  #title= title

Bubble erstellen
%form{id: 'create_bubble_form' ,style: 'position:fixed;bottom:0px;left:0px;z-index:9999'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'create bubble'}