@import "public/css/include/rounded_corners";
@import "public/css/include/shadows";

@node_size:66px;



body {
  padding: 0px;
  margin: 0px;
  font: 10px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

#title_bar {
  position:absolute;
  border:1px solid red;
  width:80%;
  height:50px;
  left:10%;
  background:rgba(0,0,0,0.9);
  color:white;
  z-index:1000;
}

#tool_bar {
  position:absolute;
  border:1px solid blue;
  height:80%;
  width:77px;
  top:10%;
  background:rgba(0,0,0,0.9);
  color:white;
  z-index:1000;
}


.node {
  border:1px solid rgba(11,11,11,0.4);
  position:absolute;
  min-width:@node_size;
  min-height:@node_size;
  background:rgba(88,88,88,0.4);
  .rounded_corners(@node_size / 3);
  padding:@node_size / 6;
  
}

// dummy
.draggable {
  border:1px solid gold;
  cursor:move;
}



#root {
  border:1px solid magenta;
  top:50%;
  left:50%;
}