@import "public/css/include/rounded_corners";
@import "public/css/include/shadows";

@node_size:23px;
@node_border_size:2px;
@node_border_color:rgb(220,220,220);
@holder_button_size:@node_size * 0.5;
@node_background_color:rgb(235, 235, 235);

.set_font() {
  font: 10px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

.init_bar() {
  position:absolute;
  padding:10px;
  background:rgb(244,244,244);
  border:2px inset rgb(211,211,211);
  color:black;
  z-index:0;
}

body{
  background:rgb(233,233,233);
  text-align:left;
  padding: 0px;
  margin: 0px;
  .set_font();
}

#title_bar {
  .init_bar();
  width:80%;
  height:50px;
  left:10%;
  border-top:none;
  .rounded_corner_bottom_left(33px);
  .rounded_corner_bottom_right(33px);
}

#tool_bar {
  .init_bar();
  height:80%;
  width:77px;
  top:10%;
  border-left:none;
  .rounded_corner_top_right(33px);
  .rounded_corner_bottom_right(33px);
}

.node {
  clear:both;
  z-index:100;
  
  .holder {
    position:relative;
    float:left;
    text-align:center;
    .rounded_corner_top_left(@node_size * 0.1);
    .rounded_corner_bottom_left(@node_size * 0.1);
    background:@node_border_color;
    overflow:hidden;
    padding-left:2px;
    
    .button {
      display:block;
      .rounded_corners(@holder_button_size);
      height:@holder_button_size;
      width:@holder_button_size;
      text-align:center;
      padding:0.2em;
      margin:0.3em;
      font-style:bold;
      color:black;
      background:rgb(233,233,233);
      text-decoration:none;
      clear:both;
    }
    :hover {
      background:rgb(111,111,111);
      color:white;
      .tooltip {
        display:block;
      }
    }
  
    .tooltip {
      position:absolute;
      width:600px;
      left:-600px;
      display:none;
      margin-top:-2px;
      font-weight:normal;
      z-index:1001;
      .bubble {
        .rounded_corners(4px);
        padding:1px 5px 1px 5px;
        position:absolute;
        background:black;
        right:0px;
        .arrow {
          border-color:transparent transparent transparent black;
          border-style:solid;
          border-width:4px;
          position:absolute;
          height:0px;
          width:0px;
          right:-7px;
          margin-top:3px;
        }
      }
    }
  }
  .body {
    float:left;
    min-height:@node_size - @node_border_size * 2;
    min-width:@node_size * 4;
    
    margin-top:@node_border_size;
    margin-right:@node_border_size;
    margin-bottom:@node_border_size;
    
    .shadow(0px, 0px, 10px, rgba(210, 210, 210, 0.83021));
    
    background:@node_background_color;
    .rounded_corner_top_right(@node_size * 0.1);
    .rounded_corner_bottom_right(@node_size * 0.1);
    
    padding-top:@node_size / 5;
    padding-left:@node_size / 5 * 2;
    padding-right:@node_size / 5;
    padding-bottom:@node_size / 5;
    p {
      margin:0px;
      padding:0px;
    }
    .in-place-edit {
      border:none;
      border-bottom:1px solid #aaa;
      background:@node_background_color;
      .set_font();
    }
  }
}

#protonode{
  visibility:hidden;
}


.draggable {
  .holder {
    //cursor:move;
  }
}

.fullscreen {
  z-index:0;
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
}

.root {
  top:50%;
  left:50%;
  z-index:101;
  .holder {
    .delete_node.button {
      display:none;
    }
  }
  .body {
    font-weight:bold;
    font-size:105%;
  }
}


// jquery stuff
.ui-draggable-dragging {
  .holder {
    .shadow(0px, 0px, 10px, rgba(210, 210, 210, 0.83021));
  }
  .body {
     margin:0px;
     border-top:@node_border_size solid @node_border_color;
     border-right:@node_border_size solid @node_border_color;
     border-bottom:@node_border_size solid @node_border_color;
  }
}
/*
// color selector
#colorpicker{
    background:url("../images/select.png") repeat scroll 0 0 transparent;
    height:36px;
    position:relative;
    width:36px;
}*/
